<!-- OpenGraph tags -->
this is a post
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:type" content="website">
<meta property="og:title" content=" {{ page.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 137, '...' }}">
{% if page !== null %}
this is a page
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:type" content="website">
<meta property="og:title" content=" {{ page.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 137, '...' }}">
{% else %}
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:type" content="website">
<meta property="og:title" content=" {{ site.title }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:description" content="{{ site.description | strip_html | truncate: 137, '...' }}">
{% endif %}
