<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="author" content="Kyle Taylor">
  <meta name="description" content="Kyle Taylor. Web developer. #UNT alumn. @StartupWeekend Denton organizer. @StartupDigest #Dallas curator. I also eat tacos and watch Steven Seagal marathons.">


  <!-- OpenGraph tags -->
  <meta property="og:site_name" content="kyletaylored.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="kyletaylored.com">
  <meta property="og:url" content="http://kyletaylored.com">
  <meta property="og:description" content="Kyle Taylor. Web developer. #UNT alumn. @StartupWeekend Denton organizer. @StartupDigest #Dallas curator. I also eat tacos and watch Steven Seagal marathons.">
  {{ page.excerpt | truncate: 137, '...' }}


  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@kyletaylored">
  <meta name="twitter:creator" content="@kyletaylored">
  <meta name="twitter:domain" content="http://kyletaylored.com">

  <link rel="canonical" href="http://kyletaylored.com/">


  <!-- RSS feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://kyletaylored.com/feed.xml">

  <!-- For older browsers -->
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <![endif]-->

  <!-- HTML5 audio plugin CSS -->
  <link href="/static/themes/_assets/mediaelement/mediaelementplayer.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png">
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="http://postachio-themes.s3-website-us-east-1.amazonaws.com/f47e6fc8fbabcf235db5cb66aceec3f3/assets/css/style.css">

  <!-- standard google analytics -->

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36441409-1', 'auto');
  ga('send', 'pageview');
    // Uncomment lne below to enable demographic data.
    ga('require', 'displayfeatures');

    </script>
    
  </head>